[submodule "refs/alacritty"]
	path = refs/alacritty
	url = https://github.com/alacritty/alacritty.git
	branch = master

[submodule "refs/ghostty"]
	path = refs/ghostty
	url = https://github.com/ghostty-org/ghostty.git
	branch = main

[submodule "refs/wezterm"]
	path = refs/wezterm
	url = https://github.com/wezterm/wezterm.git
	branch = main

[submodule "refs/zellij"]
	path = refs/zellij
	url = https://github.com/zellij-org/zellij.git
	branch = main
[submodule "refs/rust-clippy"]
	path = refs/rust-clippy
	url = https://github.com/rust-lang/rust-clippy.git
