<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleDevelopmentRegion</key>
  <string>en</string>
  <key>CFBundleExecutable</key>
  <string>sdit</string>
  <key>CFBundleIdentifier</key>
  <string>com.sdit.terminal</string>
  <key>CFBundleInfoDictionaryVersion</key>
  <string>6.0</string>
  <key>CFBundleName</key>
  <string>SDIT</string>
  <key>CFBundlePackageType</key>
  <string>APPL</string>
  <key>CFBundleShortVersionString</key>
  <string>0.1.0</string>
  <key>CFBundleSupportedPlatforms</key>
  <array>
    <string>MacOSX</string>
  </array>
  <key>CFBundleVersion</key>
  <string>1</string>
  <key>CFBundleIconFile</key>
  <string>sdit.icns</string>
  <key>CFBundleDisplayName</key>
  <string>SDIT</string>
  <key>LSMinimumSystemVersion</key>
  <string>13.0</string>
  <key>LSApplicationCategoryType</key>
  <string>public.app-category.utilities</string>
  <key>NSHighResolutionCapable</key>
  <true/>
  <key>NSSupportsAutomaticGraphicsSwitching</key>
  <true/>
  <key>NSRequiresAquaSystemAppearance</key>
  <false/>
  <key>NSAppleEventsUsageDescription</key>
  <string>An application in SDIT would like to access AppleScript.</string>
  <key>NSCalendarsUsageDescription</key>
  <string>An application in SDIT would like to access calendar data.</string>
  <key>NSCameraUsageDescription</key>
  <string>An application in SDIT would like to access the camera.</string>
  <key>NSContactsUsageDescription</key>
  <string>An application in SDIT wants to access your contacts.</string>
  <key>NSLocationUsageDescription</key>
  <string>An application in SDIT would like to access your location information.</string>
  <key>NSLocationWhenInUseUsageDescription</key>
  <string>An application in SDIT would like to access your location information while active.</string>
  <key>NSMicrophoneUsageDescription</key>
  <string>An application in SDIT would like to access your microphone.</string>
  <key>NSRemindersUsageDescription</key>
  <string>An application in SDIT would like to access your reminders.</string>
  <key>NSSystemAdministrationUsageDescription</key>
  <string>An application in SDIT requires elevated permissions.</string>
  <key>NSBluetoothAlwaysUsageDescription</key>
  <string>An application in SDIT wants to use Bluetooth.</string>
  <key>NSDocumentsFolderUsageDescription</key>
  <string>An application in SDIT would like to access your Documents folder.</string>
  <key>NSDownloadsFolderUsageDescription</key>
  <string>An application in SDIT would like to access your Downloads folder.</string>
  <key>NSLocalNetworkUsageDescription</key>
  <string>An application in SDIT would like to access the local network.</string>
</dict>
</plist>
